* {
  font-family: Ubuntu, sans-serif;
}
html {
  height: 100%;
}
body {
   background: linear-gradient(to right, #ffdc8d, #ff7c7c );
   padding: 20px;
   color: rgba(0,0,0,.7)

}

table {
  width: 100%;
}
tr {
  background: rgba(255,255,255,.2);
}
td {
  padding: 10px;
}
.title {
  font-style: italic;
}

.author {
  font-weight: bold;
}
.date {
  color: #fff
}
.langue {
  color: #fff;
}
.sep {
  margin-top: 15px;
  margin-bottom: 15px;
  background: rgba(0,0,0,.5);
  padding: 15px;
  text-align: center;
  color: white;
}
div {
  padding: 10px;
  background: rgba(255,255,255,.5);
  margin: 5px;
}
input {
  pointer-events: none;
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: white !important;
  margin-bottom: 5px;
}
input::placeholder {
  color: white;
}
input:valid {
  background: #86cc4c;
 }
input:invalid {
  background:#da4d6b;
}

form:valid {
	animation-name: pulse_animation;
	animation-duration: 400ms;
	transform-origin:center center;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	50% { transform: scale(1.07); }
	100% { transform: scale(1); }
}
